<body data-spy="scroll" data-target=".navbar-collapse">
        <div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <header id="main_menu" class="header navbar-fixed-top">            
            <div class="main_menu_bg">
                <div class="container">
                    <div class="row">
                        <div class="nave_menu">
                            <nav class="navbar navbar-default" id="navmenu">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <a class="navbar-brand" href="/">
                                            School YellowBook
                                        </a>
                                    </div>
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav navbar-right">
                                            <li><a href="#">about us</a></li>
                                            <li><a href="/students">For Students</a></li>
                                            <li><a href="/educator">For Educator</a></li>
                                            <li><a href="/contact">Contact</a></li>
                                        
               
                                            {{# if loggedin}}
                                                {{!-- <li><a href="/logout">Log Out</a></li> --}}
                                            {{else }}
                                                <li><a href="/login">Log Out</a></li>
                                            {{/if}}
                                        </ul>    

                                
                                    </div>

                                </div>
                            </nav>
                        </div>	
                    </div>

                </div>

            </div>
        </header>

        <section id="home" class="home">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="main_home_slider text-center">
                            <div class="single_home_slider">
                                <div class="home-overlay"></div>
                                <div class="main_home wow fadeInUp" data-wow-duration="700ms"> 

                                    <h2>This helps you to find your school.</h2>
                                    <div class="separator"></div>
                                    <p class="subtitle">You do not know what to do for futrue? <br />
                                        Do not worry. We are here</p>
                                    <div class="home_btn">
                                        <a href="#" class="btn">Learn More</a>
                                    </div>
                                </div>
                            </div><!-- End of single_home_slider -->

                            <div class="single_home_slider">
                                <div class="home-overlay"></div>
                                <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                    <h2>This helps you to find your school.</h2>
                                    <div class="separator"></div>
                                    <p class="subtitle">You do not know which school you can go, right? <br />
                                        Do not worry. We are here.</p>
                                    <div class="home_btn">
                                        <a href="#" class="btn">Learn More</a>
                                    </div>
                                </div>
                            </div><!-- End of single_home_slider -->

                            <div class="single_home_slider">
                                <div class="home-overlay"></div>
                                <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                    <h2>We are School YellowBook</h2>
                                    <div class="separator"></div>
                                    <p class="subtitle">Easy, easy, easy to find your school after high school.</p>
                                    <div class="home_btn">
                                        <a href="#" class="btn">Learn More</a>
                                    </div>
                                </div>
                            </div><!-- End of single_home_slider -->

                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End of Home Section -->

        <section id="service" class="service sections lightbg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="head_title text-center">
                            <h1>what we do?</h1>
                        </div>

                        <div class="main_service_area"> 
                            <div class="single_service_area">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="signle_service_left">
                                            <img src="images/university.jpeg" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-sm-5 col-sm-push-1">
                                        <div class="single_service">
                                            <h3>Find your School</h3>
                                            <h2>For Students</h2>
                                            <div class="separator2"></div>
                                            <p></p>

                                            <p> SYB features college and university content, allowing users to explore all possibilities and gain insight into each option. In this app, anyone can find detailed information on over 7,000 accredited colleges throughout the country. 
                                                In addition to listing college bachelor and associate programs, SYB provides different certificate programs, SAT/ACT acceptance numbers, tuition cost and much more. Designed for everyone at many different life stages, (name of app) 
                                                is meant to be a helpful resource for many years.</p>

                                            <a href="/public/students.html" class="btn btn-default">Take a survey</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="single_service_area  margin-top-80">
                                <div class="row">

                                    <div class="col-sm-6 col-sm-push-6">
                                        <div class="signle_service_left">
                                            <img src="images/educator.jpeg" alt="" />
                                        </div>
                                    </div>

                                    <div class="col-sm-5 col-sm-pull-6">
                                        <div class="single_service">
                                            <h3>Register your School</h3>
                                            <h2>For educator</h2>
                                            <div class="separator2"></div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo distinctio praesentium sequi magni dolore esse dolorem dolores nostrum, inventore natus saepe provident labore facere quibusdam accusamus odio, illo nemo nobis!  </p>

                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus unde cupiditate placeat delectus temporibus? Quas nobis natus corporis voluptatem officiis laudantium tempora enim et! Qui optio doloribus explicabo nihil nisi?</p>

                                            <a href="/public/educator.html" class="btn btn-default">Register schools</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        {{!-- <section id="work" class="work sections">
            <div class="container">
                <div class="row">
                    <div class="main_mix_content text-center">
                        <div class="head_title">
                            <h1>Top Rankings</h1>
                        </div>
                        <a href="" class="btn">learn more</a>
                    </div>                     
                </div>
            </div>
        </section>      --}}



        <!-- Team Section -->
        <section id="team" class="team colorsbg sections">
            <div class="container">
                <div class="row">
                    <div class="main_team_area">
                        <div class="head_title text-center">
                            <h1>best team</h1>
                        </div>

                        
                    </div>
                </div>
            </div>
        </section>

        <!-- footer Section -->
        <footer id="footer" class="footer">
            <div class="container">
                <div class="main_footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="copyright_text text-center">
                                <p class=" wow fadeInRight" data-wow-duration="1s">Columbia Coding Bootcamp Project2 Group 5</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End of container -->
        </footer><!-- End of footer -->




        <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div>

        <script src="js/vendor/jquery-1.11.2.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/jquery.easing.1.3.js"></script>
        <script src="js/masonry/masonry.min.js"></script>
        <script type="text/javascript">
            $('.mixcontent').masonry();
        </script>
        <script src="js/index.js"></script>
        <script src="js/jquery.sliderPro.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function ($) {
                $('#example3').sliderPro({
                    width: 960,
                    height: 200,
                    fade: true,
                    arrows: false,
                    buttons: true,
                    fullScreen: false,
                    shuffle: true,
                    smallSize: 500,
                    mediumSize: 1000,
                    largeSize: 3000,
                    thumbnailArrows: true,
                    autoplay: false,
                    thumbnailsContainerSize: 960

                });
            });
        </script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

    </body>
{{!-- </html> --}}
